<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PingPong.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PingPong.Properties.Settings>
            <setting name="Player1Up" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="Player1Down" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="Player2Up" serializeAs="String">
                <value>82</value>
            </setting>
            <setting name="Player2Down" serializeAs="String">
                <value>76</value>
            </setting>
            <setting name="Speed" serializeAs="String">
                <value>20</value>
            </setting>
        </PingPong.Properties.Settings>
    </userSettings>
</configuration>